<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://uc3fba327cc17031342f2ca2593b.dl.dropboxusercontent.com/cd/0/get/CMvHrdjRxocH1eg2ECJQaH-AjK8J5x8sVHKhFc2JwuAks10ZOzDsOu_ATGrdhy-mWDjyLqsNuOHZZVx9Ib3u1Ee295zCoIOzlDkq27acYn9pYN0EuRVdgvHnmIq7j9X4-EQIoReDVkbX0K-PCwvOA1Lw/file?dl=1#</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.eazy6.eazyreview</string>
                <key>bundle-version</key>
                <string>1.0 (4)</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Eazy Review</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>