<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://ucf72f11832961e2a93468f8555d.dl.dropboxusercontent.com/cd/0/get/CMtK8eueSEZja2GF5f0vXae8bKJVuBXiabzWP4AR4GxZbM_uEkWUsvqCkrJxpBICT-1TJs7Aay3fGboK4viBXpfTJSw0Y5j4H2neIWxUUTF3u1uaG1pBuWHAiAFEzGn8Q14uwghCR_epyAQ-JicnOrvmVuTchnXV8HAD1C4Lk8oykw/file#</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.eazy6.eazyreview</string>
                <key>bundle-version</key>
                <string>1.0 (4)</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Eazy Review</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>